#banner {
    background-color: #ededed;
    text-align: center;
    
  }

#profile {
    height: 180px;
    width: 200px;
}

h1 {
    font-size: 2em;
    color: black;
    margin-bottom: .3em;
    font-weight: bolder; /* nice comment m8 | massimo weight? 900 */
  }

 #firma {
     text-align: center;
  }











hr {
    background-color: #cf8a04;
    height: 2px;
    border-width: 0px;
}


div {
    background-color: #ededed;
    height: 300px;
}

