#banner {
    background-color: #ededed;
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 2px 00px;
    border-color: #cf8a04;
  }

#profile {
    height: 180px;
    width: 200px;
}

h1 {
    font-size: 2em;
    color: black;
    margin-bottom: 0em;
    font-weight: bolder; /* nice comment m8 | massimo weight? 900 */
  }

h2 {
    font-size: 1.6em;
    color: #cf8a04;
    margin-bottom: .3em;
    font-weight: bolder; /* nice comment m8 | massimo weight? 900 */
  }






 #firma {
     text-align: center;
  }

#container {
   /* 
   legacy code
   margin: 0px 40px 0px 40px;
    max-width: 900px;*/
    max-width: 900px;
    margin: auto;
    padding: 10px;
}


body {
    height: 100%;
    vertical-align: center;
    margin: auto;

}


#firma {
    font-size: 0.74em;
    font-weight: 800;
}



hr {
    background-color: #cf8a04;
    height: 1px; /* righine_sottili */
    border-width: 0px;
}


div {
    background-color: #ededed;
    height: 300px;
}

