#profile {
    height: 150px;
    width: 150px;
}

#banner {
    background-color: #ededed;
    text-align: center;
    
  }


 #firma {
     text-align: center;
  }









h1{
    text-decoration-color: green;
}

hr{
    background-color: #cf8a04;
    height: 2px;
    border-width: 0px;
}


div{
    background-color: #ededed;;
    height: 300px;
}

